/*Обнуление*/
.overInvisible {
	opacity: 0;
}
/*Стили для демонстрации*/

.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
/* Основные стили */
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.parallax {
	position: relative;
	height: 100%;
}
.parallax__montain {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.parallax__montain_1 {
	background: url('../../images/Group\ 1.png') 0 0 / cover no-repeat;
	/* position: relative; */
}

.bg_number {
	position: absolute;
}
.parallax__montain_2 {
	z-index: 1;
	background: url('../../images/m_2.png') bottom right / 45% no-repeat;
}
.parallax__montain_3 {
	z-index: 1;
	background: url('../../images/m_3.png') left bottom / 100% no-repeat;
}

.parallax__fog {
	background: url('../../images/fog_1.png') bottom / 100% no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.content {
	position: relative;
}
.content__body {
	max-width: 1170px;
	margin: 0px auto;
}
.content__header {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0px 20px;
	/* background-image: url(../../images/1.png);
	background-repeat: no-repeat;
	background-position: right bottom; */
}
.content__title {
	font-size: 100px;
	line-height: 29.26px;
	font-weight: 700;
	letter-spacing: 40px;
}
.content__subtitle {
	font-size: 80px;
	min-height: 450px;
	font-weight: 300;
	/*font-size: 20px;*/
	/*line-height: 170%;*/
}
.content__article {
	background-color: rgba(255,255,255,0.5);
	padding: 25px;
	font-size: 18px;
	line-height: 24px;
}
.content__article p{margin-bottom: 20px;}


@media (max-width:1250px){
	.content__title{
		font-size: 80px;
	}
	.content__subtitle{
		font-size: 70px;
	}
}
@media (max-width:728px){
	.content__title{
		font-size: 50px;
		letter-spacing: 30px;
	}
	.content__subtitle{
		/*font-size: 30px;*/
	}
	.content__article{
		font-size: 14px;
		line-height: 20px;
	}
	.content__article p{
		margin: 0px 0px 10px 0px;
	}

}

@media (max-width:506px){
	.content__title{
		font-size: 34px;
		letter-spacing: 16px;
	}

	.content__subtitle {
		font-size: 30px;
	}
}

.our_turs {
	text-align: center;
}