@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


.animate {
	width: 31%;
	height: 400px;
	border: 5px solid rgb(25, 64, 173);
	animation: rotation 20s linear infinite;
	z-index: -1;
	position: relative;
}

.main_page {
	display: flex;
	position: relative;
	z-index: 1;
	justify-content: space-around	;
}

.main_page__title {
	font-size: 2rem;
	text-align: center;
}

@media (max-width: 768px) {
	.animate {
		/* width: 200px; */
		height: 200px;
	}
}

@media (max-width: 450px) {
	.animate {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 380px) {
	.animate {
		/* width: 200px; */
		height: 165px;
	}
}

@media (max-width: 320px) {
	.animate {
		/* width: 200px; */
		height: 140px;
	}
}

