

.img-back-contact {
	background-image: url(../../images/04.png);
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 353px;
  width: 31%;
  position: fixed;
  right: 0;
  z-index: -1;
  bottom: -20%;
}



.form_title {
	font-weight: bold;
	font-size: 30px;
	line-height: 170%;
	max-width: 44%;
	text-align: left;
}

.subtitle {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	max-width: 40%;
}

.social_and_btn_block {
	display: flex;
	margin-top: 137px;
}

.form {
	margin-top: 60px;
	margin-bottom: 200px;
}

.form input {
	border: 0;
	border-bottom: 1px solid #000;
	padding: 0 0 15px 0;
	margin-right: 83px;
}

.logo_block {
	display: flex;
	width: 28.5%;
	justify-content: space-around;
	align-items: center;
}

.btn_form {
	margin-right: 200px;
	width: 232px;	
	background: #FF8640;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	border: 0;
	border-radius: 8px;
	padding: 30px;
	cursor: pointer;
	box-shadow:0px 0px 100px 0px rgba(255,134,64,0.54);
	-webkit-box-shadow:0px 0px 100px 0px rgba(255,134,64,0.54);
	-moz-box-shadow:0px 0px 100px 0px rgba(255,134,64,0.54);
}